[Unit]
Description=Hadoop Yarn Node Manager
After=network.target
Requires=network.target

[Service]
User={{ yarn_user }}
Group={{ hadoop_group }}
Type=forking
ExecStart={{ hadoop_home }}/bin/yarn --daemon start nodemanager
ExecStop={{ hadoop_home }}/bin/yarn --daemon stop nodemanager
Environment="JAVA_HOME={{ ansible_facts['env']['JAVA_HOME'] }}"
Environment="HADOOP_HOME={{ hadoop_home }}"
TimeoutStartSec=1min
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=nm.service